<%layout('layouts/boilerplate')%> 


   <div class="container">
    <h1>PLANTS</h1>
     <div class="row">
        <% for(let plant of plants){ %>
            <div class="col mb-3">
                <div class="card" style="width: 18rem;">
                    <img src="<%=plant.image[0].url%>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%=plant.title%></h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="/plants/<%=plant._id%>" class="btn btn-primary">Explore</a>
                    </div>
                  </div>
            </div>
        <% } %> 
     </div>
     
    </div> 

    